---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jhon Michael Abbas";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
    <img src="/laptopman/laptopman2.png" alt="laptopman" width={250} height={200} />
    </div>
    <h1>Jhon Michael Abbas</h1>
    <span class="badge">Digital Craftsman (Frontend Developer)</span>
    <h2>About</h2>
    <p>
        A tech enthusiast who hopes to become a Web Developer and a skilled Software Engineer. I have been in love with coding since the day I saw an interesting modern landing page with a smooth animations.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Portfolio</button>
        </a>
        <a href="/laptopman/Resume.pdf" target="_blank">
            <button class="btn">Resume</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TailwindCSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Dart" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Github" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        Captivated by minimal web designs and neat user interfaces. Fascinated by the potential of technology to solve problems and create engaging experiences. The ever-evolving nature of this field keeps me constantly learning and motivated to stay ahead of the curve. I'm eager to contribute my enthusiasm and growing skillset to a team that is building the future of technology.
    </p>
</Layout>

